 .titulo-principal{
  font: 40px italic;
  color: black;
  text-align: center;
  text-shadow: 2px 2px red;
  background-color: #FFFFFF;
}

body{
    background-color: #E1F5A9;
}

.contenido{
    font-size: 30px;
    font-family: "Arial";
    border-width: thick;	
    border-style: none;	
    padding: 2px;
    max-width: 1112px;
    text-align: justify;
    margin:auto;
}

span{
  text-shadow: 3px 3px red;
  font-size: 80px;
  font-family: serif;
  background-color: #00BFFF;
}

.reseï¿½a{
  font-family: "Times New Roman";
  background-color: yellow;
  width: 15%;
}

.conclusion{
  font-family: "Times New Roman";
  background-color: yellow;
  width: 20%;
}

.derecha{
  text-align: right;
}

.imagenuno{
  display: block;
  margin: auto;
}

.siguientes {
   float: right;
 }
 .siguientes ul {
   list-style-type: none;
   padding-left: 0px;
 }
 .siguientes ul li {
   padding-left: 10px;
   margin-top: 10px;
   border-left: 5px solid #000;
 }
 
 .imagendos{
  display: block;
  margin: auto;
  text-align: center;
}

.galeria{
  text-align: center;
}

.centro{
  text-align: center;
}

dt{
  color: firebrick;
  border-left: 5px solid firebrick;
  width: 50%;
}

h2, h3{
  font-family: "Times New Roman";
  background-color:  firebrick;
  width: 15%;
}

.cuento{
  font-size: 30px;
  font-family: "Arial";
  border-width: thick;	
  border-style: none;	
  padding: 2px;
  max-width: 1112px;
  text-align: justify;
  margin:auto;
}

.derecha{
  border-color: sandybrown;
  border-style: ridge;
}